<div class="container-fluid">
    <h1 >About us</h1>
    <p> we are DevMatch! Our company cultivates a space where passionate  <br/>
    entrepreneurs can meet extrodinary developers to build things to change the world</p>
</div>