<!DOCTYPE html>
<html>
    <head></head>
    
    <body>
        <p>someone filled out the contact form and left you a message, the message is from <%= "#{ @name}, #{@email}" %> </p>
        <br>
        <p><%= @body  </p>
    </body>
    
    
    
</html>